<div class="col-4">
	<div class="card card-custom align-items-center h-100">
		<div class="card-body">
			<span class="fs-1 text-gray-600 fw-bold" ><strong>My Grade</strong></span>
			<div class="text-center">
				<span class="fs-3hx fw-bold"><%= moduleStats.userGrade %></span>
			</div>
		</div>
	</div>
</div>
<div class="col-4">
	<div class="card card-custom align-items-center h-100">
		<div class="card-body">
			<span class="fs-1 text-gray-600 fw-bold" ><strong>My Rank</strong></span>
			<div class="text-center">
				<span class="fs-3hx fw-bold"><%= moduleStats.userRank %>/<%= moduleStats.count %></span>
			</div>
		</div>
	</div>
</div>
<div class="col-4">
	<div class="card card-custom align-items-center h-100">
		<div class="card-body">
			<span class="fs-1 text-gray-600 fw-bold" ><strong>My Percentile</strong></span>
			<div class="text-center">
				<span class="fs-3hx fw-bold"><%= moduleStats.userPercentile %>%</span>
			</div>
		</div>
	</div>
</div>