<!DOCTYPE html>
<html>
	<%- include('partials/header.ejs'); %>

	<body>
		<div class="container">
			<%- include('partials/nav.ejs'); %>
			<h1 class="mt-4"><%= heading %></h1>
			<p>
				This application was built by Arjun Muralidharan
				as part of the course "CM2040 Databases,
				Networks and the Web", part of the University of
				London BSc in Computer Science program.
			</p>
			<ul>
				<li><a href="https://github.com/arjunmuralidharan">GitHub</a></li>
				<li><a href="https://www.linkedin.com/in/arjmur">LinkedIn</a></li>
			</ul>
		</div>
	</body>
</html>
