<!--begin::Head-->
<head><base href="">
	<meta charset="utf-8" />
	<title>Gradez | <%= title %></title>
	<meta name="description" content="Gradez allows you to share and compare your grades with classmates in University of London's online Computer Science program." />
	<meta name="keywords" content="grades, leaderboard, rank, ranking, stuents, University of London, computer science, Goldsmiths, Coursera" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" type="image/svg+xml" href="assets/media/logos/favicon.svg" />
	<link rel="alternate icon" type="image/png" href="assets/media/logos/favicon.png">
	<link rel=”mask-icon” href=”assets/media/logos/mask-icon.svg” color="#20D489">
	<!--begin::Fonts-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
	<!--end::Fonts-->
	<!--begin::Global Stylesheets Bundle(used by all pages)-->
	<link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
	<!--end::Global Stylesheets Bundle-->
</head>
<!--end::Head-->