<!DOCTYPE html>
<html>
	<head>
		<title>This is the register page title!</title>
	</head>

	<body>
		<h1>This is the register page</h1>
		<p>
			This is an example of a paragraph inside the register
			page
		</p>

		<form action="/registered">
			<input
				id="first"
				type="text"
				name="first"
				value="first name"
			/>
			<input
				id="last"
				type="text"
				name="last"
				value="last name"
			/>
			<input
				id="email"
				type="text"
				name="email"
				value="e-mail"
			/>
			<input type="submit" value="OK" />
		</form>
	</body>
</html>
