<head>
	<title><%= title %></title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- CSS only -->
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />

	<!-- JS, Popper.js, and jQuery -->
	<script src="js/popper.min.js"></script>
	<script src="js/jquery-3.5.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>
