<!--begin::Engage Widget Sign In-->
<div class="card card-custom card-stretch mb-5 mb-xxl-8">
	<!--begin::Body-->
	<div class="card-body pb-0">
		<!--begin::Wrapper-->
		<div class="d-flex flex-column h-100">
			<div class="card-header align-items-center border-0 mt-5">
				<!-- begin::_widget-sign-in-info -->
				<%- include('../info/_widget-sign-in-info.html')%>
				<!-- end::_widget-sign-in-info -->
			</div>
			<!--begin::Text-->
			<h3 class="text-dark text-center fs-1 fw-bolder pt-15 lh-lg">Kickstart your
				<br />study motivation</h3>
			<!--end::Text-->
			<div class="text-center pt-7">
				<a href="/auth/slack"><button type="button" class="btn btn-light-primary fw-bolder px-8 py-4 my-3 fs-6">
					<img src="assets/media/svg/brand-logos/slack-icon.svg" class="w-20px h-20px me-3"
						alt="" />Sign in with Slack</button></a>
			</div>
			<!--end::Action-->
			<!--begin::Image-->
			<div class="flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-center bgi-position-y-bottom card-rounded-bottom h-200px"
				style="background-image:url('assets/media/svg/illustrations/terms-2.svg')"></div>
			<!--end::Image-->
		</div>
		<!--end::Wrapper-->
	</div>
	<!--end::Body-->
</div>
<!--end::Engage Widget 5-->