<!--begin::Sign in info-->
<div class="d-flex flex-row-reverse card-toolbar ">
	<button type="button" class="btn btn-icon btn-active-light-warning pulse pulse-warning" data-kt-menu-trigger="click" 
		data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
		<span class="svg-icon svg-icon-1 svg-icon-warning">
			<!--begin::Svg Icon | path: assets/media/icons/duotone/Contacts/Info-Circle.svg-->
			<svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<g id="Stockholm-icons-/-Code-/-Info-circle" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<rect id="bound" x="0" y="0" width="24" height="24"></rect>
					<circle id="Oval-5" fill="#000000" opacity="0.3" cx="12" cy="12" r="10"></circle>
					<rect id="Rectangle-9" fill="#000000" x="11" y="10" width="2" height="7" rx="1"></rect>
					<rect id="Rectangle-9-Copy" fill="#000000" x="11" y="7" width="2" height="2" rx="1"></rect>
				</g>
			</svg>
			<!--end::Svg Icon-->
		</span>
		<span class="pulse-ring"></span>
	</button>
	<div class="menu menu-sub menu-sub-dropdown menu-column w-300px w-lg-350px p-5" 
		data-kt-menu="true">
		<div class="menu-content fs-6 text-dark fw-bolder px-3 py-4">Slack Sign-In</div>
		<div class="separator mb-3 opacity-75"></div>
		<div class="menu-item px-3 pb-2">This program's <a href="https://londoncs.slack.com">slack workspace</a> name is <b>londoncs</b>.</div>
		<div class="menu-item px-3">You will need to provide this as well as your email and password for the workspace if it is not already stored in your browser.</div>
	</div>
</div>
<!--end::Sign in info-->