<!--begin::Welcome Info-->
<div class="card card-custom card-stretch p-3 mb-5 mb-xxl-8">
	<!--begin::Body-->
	<div class="card-body">
		<!--begin::Heading-->
		<div class="d-flex align-items-center justify-content-between flex-wrap">
			<div class="row w-100">
				<div class="col-10">
					<h3 class="fs-1 text-dark fw-bolder">Welcome, University of London Students!</h3>
				</div>
				<div class="col-2 flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-end h-60px" 
					style="background-image:url('assets/media/svg/logo/uol-arms.svg'); background-size: contain; background-repeat: no-repeat; float: right;">
					</a>
				</div>
			</div>
		</div>
		<!--end::Heading-->
		<!--begin::Section-->
		<div class="d-flex flex-column justify-content-between my-5">
			<!--begin::Text-->
			<p class="fs-3 text-gray-600 fw-bold pt-3 mb-0">Gradez allows you to share and compare your grades with classmates in University of London's online Computer Science program.</p>
			<p class="fs-3 text-gray-600 fw-bold pt-3 mb-0">How do you fare against the world class?</p>
			<!--end::Text-->
		</div>
	</div>
	<!--end::Body-->
	<!--begin::Footer-->
</div>
<!--end::Welcom Info-->